body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(var(--co-black-rgb));

  background-color: rgb(var(--co-white-rgb));
}

p,
a {
  color: rgba(var(--co-black-rgb), var(--opacity));
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}