.footer {
  color: rgb(var(--co-white-rgb));

  background-color: rgb(var(--co-light-black-rgb));
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.footer-container img {
  filter: invert(100%);
}

.git-link {
  line-height: 50px;
  color: rgba(var(--co-white-rgb), var(--opacity));
}

.git-link:hover {
  color: rgb(var(--co-white-rgb));
}