.nav {
 padding: 0 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: min(40px, 4vw);
}

.nav-link {
  position: relative;

  line-height: 50px;
  color: rgba(var(--co-white-rgb), var(--opacity));
}

.nav-link::before {
  content: "";

  position: absolute;
  left: 0;
  right: 100%;

  height: 1px;

  background-color: rgb(var(--co-white-rgb));

  transition: right .22s;
}

.nav-link:hover {
  color: rgb(var(--co-white-rgb));
}

.nav-link:hover::before {
  right: 0;
}